In [1]:
from sklearn import datasets
from sklearn import metrics
from sklearn import preprocessing
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split as tts
import numpy as np 
import pandas as pd 
import os

In [2]:
import warnings

warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv('trainSet.csv')
df2 = pd.read_csv('testSet.csv')

In [4]:
df.shape #degiskene atama kontrolu

(750, 6)

In [5]:
df.head()

,credit_history,credit_amount,employment,property_magnitude,age,class
0,'existing paid',1924,1<=X<4,'life insurance',38,good
1,'existing paid',7297,>=7,'no known property',36,bad
2,'existing paid',1278,>=7,'real estate',36,good
3,'existing paid',2039,1<=X<4,'real estate',20,bad
4,'critical/other existing credit',4272,>=7,'life insurance',24,good

In [6]:
df['credit_history'].value_counts() #missing values tespiti

'existing paid'                     394
'critical/other existing credit'    218
'delayed previously'                 62
'all paid'                           40
'no credits/all paid'                31
?                                     5
Name: credit_history, dtype: int64

In [7]:
df['credit_amount'].value_counts()

1258    3
?       3
1924    2
1374    2
1275    2
       ..
2820    1
1569    1
1820    1
2606    1
1007    1
Name: credit_amount, Length: 708, dtype: int64

In [8]:
df['employment'].value_counts()

1<=X<4        255
>=7           187
4<=X<7        129
<1            129
unemployed     50
Name: employment, dtype: int64

In [9]:
df['property_magnitude'].value_counts()

car                    253
'real estate'          201
'life insurance'       173
'no known property'    120
?                        3
Name: property_magnitude, dtype: int64

In [10]:
df['age'].value_counts()

27    39
26    38
23    34
24    33
25    32
29    31
28    30
30    30
31    28
33    28
32    27
35    25
36    25
37    24
22    24
34    20
38    18
42    18
46    15
40    15
41    14
39    14
47    13
44    13
43    12
48    11
20    11
21    10
49     9
45     9
?      9
50     9
52     9
63     8
54     6
53     6
57     6
51     6
55     5
65     4
60     4
61     4
64     3
74     3
66     3
68     3
58     2
56     2
59     2
62     2
75     1
70     1
67     1
19     1
Name: age, dtype: int64

In [11]:
df['class'].value_counts()

good    524
bad     226
Name: class, dtype: int64

In [12]:
df['class'].head()

0    good
1     bad
2    good
3     bad
4    good
Name: class, dtype: object

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 750 entries, 0 to 749
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   credit_history      750 non-null    object
 1   credit_amount       750 non-null    object
 2   employment          750 non-null    object
 3   property_magnitude  750 non-null    object
 4   age                 750 non-null    object
 5   class               750 non-null    object
dtypes: object(6)
memory usage: 35.3+ KB

In [14]:
df["class"] = df["class"].replace(["good", "bad"],[1,0]) #class Ä± object ten int e ve ikili sayiya cevirme
df['class'].head()

0    1
1    0
2    1
3    0
4    1
Name: class, dtype: int64

In [15]:
df.head()

,credit_history,credit_amount,employment,property_magnitude,age,class
0,'existing paid',1924,1<=X<4,'life insurance',38,1
1,'existing paid',7297,>=7,'no known property',36,0
2,'existing paid',1278,>=7,'real estate',36,1
3,'existing paid',2039,1<=X<4,'real estate',20,0
4,'critical/other existing credit',4272,>=7,'life insurance',24,1

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 750 entries, 0 to 749
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   credit_history      750 non-null    object
 1   credit_amount       750 non-null    object
 2   employment          750 non-null    object
 3   property_magnitude  750 non-null    object
 4   age                 750 non-null    object
 5   class               750 non-null    int64
dtypes: int64(1), object(5)
memory usage: 35.3+ KB

In [17]:
df['age'].replace('?', np.NaN, inplace=True) #missing values olan degerleri np.NaN degerine donusturerek dropna kullanabilmeyi saglama

In [18]:
df.dropna(how="any",inplace=True) #missing degerleri filtreleme, inplace kalicilik sagliyor

In [19]:
df['age'].value_counts()

27    39
26    38
23    34
24    33
25    32
29    31
28    30
30    30
31    28
33    28
32    27
35    25
36    25
37    24
22    24
34    20
38    18
42    18
46    15
40    15
41    14
39    14
47    13
44    13
43    12
48    11
20    11
21    10
49     9
45     9
50     9
52     9
63     8
54     6
53     6
57     6
51     6
55     5
65     4
60     4
61     4
64     3
74     3
66     3
68     3
58     2
56     2
59     2
62     2
75     1
70     1
67     1
19     1
Name: age, dtype: int64

In [20]:
df['credit_history'].value_counts()

'existing paid'                     386
'critical/other existing credit'    217
'delayed previously'                 62
'all paid'                           40
'no credits/all paid'                31
?                                     5
Name: credit_history, dtype: int64

In [21]:
df['credit_history'].replace('?', np.NaN, inplace=True)

In [22]:
df.dropna(how="any",inplace=True)

In [23]:
df['credit_history'].value_counts()

'existing paid'                     386
'critical/other existing credit'    217
'delayed previously'                 62
'all paid'                           40
'no credits/all paid'                31
Name: credit_history, dtype: int64

In [24]:
df.shape

(736, 6)

In [25]:
df['employment'].replace('?', np.NaN, inplace=True)

In [26]:
df.dropna(how="any",inplace=True)

In [27]:
df['employment'].value_counts()

1<=X<4        250
>=7           183
<1            128
4<=X<7        126
unemployed     49
Name: employment, dtype: int64

In [28]:
df['credit_amount'].replace('?', np.NaN, inplace=True)

In [29]:
df.dropna(how="any",inplace=True)

In [30]:
df['credit_amount'].value_counts()

1258    3
1924    2
1546    2
1474    2
1597    2
       ..
685     1
6361    1
3905    1
1038    1
1007    1
Name: credit_amount, Length: 694, dtype: int64

In [31]:
df['property_magnitude'].replace('?', np.NaN, inplace=True)

In [32]:
df.dropna(how="any",inplace=True)

In [33]:
df['property_magnitude'].value_counts()

car                    246
'real estate'          200
'life insurance'       165
'no known property'    119
Name: property_magnitude, dtype: int64

In [34]:
df.info() #dtype lari encode lamak icin numerik olan degerleri donusturmek gerekiyor

<class 'pandas.core.frame.DataFrame'>
Int64Index: 730 entries, 0 to 749
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   credit_history      730 non-null    object
 1   credit_amount       730 non-null    object
 2   employment          730 non-null    object
 3   property_magnitude  730 non-null    object
 4   age                 730 non-null    object
 5   class               730 non-null    int64
dtypes: int64(1), object(5)
memory usage: 39.9+ KB

In [35]:
df['age'] = df['age'].astype('int64')
df['credit_amount'] = df['credit_amount'].astype('int64')

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 730 entries, 0 to 749
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   credit_history      730 non-null    object
 1   credit_amount       730 non-null    int64
 2   employment          730 non-null    object
 3   property_magnitude  730 non-null    object
 4   age                 730 non-null    int64
 5   class               730 non-null    int64
dtypes: int64(3), object(3)
memory usage: 39.9+ KB

In [48]:
X = df.drop(['class'], axis=1)

y = df['class']

In [49]:
df[numerical].head()

   credit_amount  age  class
0           1924   38      1
1           7297   36      0
2           1278   36      1
3           2039   20      0
4           4272   24      1

In [50]:
from sklearn.model_selection import train_test_split

df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   credit_history      250 non-null    object
 1   credit_amount       250 non-null    object
 2   employment          250 non-null    object
 3   property_magnitude  250 non-null    object
 4   age                 250 non-null    object
 5   class               250 non-null    object
dtypes: object(6)
memory usage: 11.8+ KB

In [51]:
df2['credit_history'].value_counts()

'existing paid'                     130
'critical/other existing credit'     72
'delayed previously'                 25
'all paid'                            9
'no credits/all paid'                 8
?                                     6
Name: credit_history, dtype: int64

In [52]:
df2["class"] = df2["class"].replace(["good", "bad"],[1,0])
df2['class'].head()

0    1
1    1
2    0
3    1
4    0
Name: class, dtype: int64

In [53]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   credit_history      250 non-null    object
 1   credit_amount       250 non-null    object
 2   employment          250 non-null    object
 3   property_magnitude  250 non-null    object
 4   age                 250 non-null    object
 5   class               250 non-null    int64
dtypes: int64(1), object(5)
memory usage: 11.8+ KB

In [54]:
df2['age'].replace('?', np.NaN, inplace=True)

In [55]:
df2.dropna(how="any",inplace=True)

In [57]:
df2['property_magnitude'].replace('?', np.NaN, inplace=True)

In [58]:
df2.dropna(how="any",inplace=True)

In [59]:
df2['employment'].replace('?', np.NaN, inplace=True)

In [60]:
df2.dropna(how="any",inplace=True)

In [61]:
df2['credit_amount'].replace('?', np.NaN, inplace=True)

In [62]:
df2.dropna(how="any",inplace=True)

In [63]:
df2['credit_history'].replace('?', np.NaN, inplace=True)

In [64]:
df2.dropna(how="any",inplace=True)

In [65]:
df2['age'] = df2['age'].astype('int64')
df2['credit_amount'] = df2['credit_amount'].astype('int64')

In [66]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 228 entries, 0 to 249
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   credit_history      228 non-null    object
 1   credit_amount       228 non-null    int64
 2   employment          228 non-null    object
 3   property_magnitude  228 non-null    object
 4   age                 228 non-null    int64
 5   class               228 non-null    int64
dtypes: int64(3), object(3)
memory usage: 12.5+ KB

In [67]:
df2['credit_history'].value_counts()

'existing paid'                     121
'critical/other existing credit'     67
'delayed previously'                 25
'all paid'                            8
'no credits/all paid'                 7
Name: credit_history, dtype: int64

In [68]:
df2.shape

(228, 6)

In [69]:
X2 = df2.drop(['class'], axis=1) #algoritmaya girecek degiskenler
y2 = df2['class']

In [70]:
X_train = X
X_test = X2
y_train = y
y_test = y2
y_test.head()

0    1
1    1
2    0
3    1
4    0
Name: class, dtype: int64

In [71]:
X_train.shape, X_test.shape

((730, 5), (228, 5))

In [72]:
X_train.dtypes

credit_history        object
credit_amount          int64
employment            object
property_magnitude    object
age                    int64
dtype: object

In [ ]:
import category_encoders as ce # fitting ve transform islemleri

In [ ]:
encoder = ce.OneHotEncoder(cols=['credit_history', 'credit_amount', 'employment', 'property_magnitude', 'age'])

X_train = encoder.fit_transform(X_train)

X_test = encoder.transform(X_test)

In [ ]:
cols = X_train.columns

In [ ]:
from sklearn.preprocessing import RobustScaler

scaler = RobustScaler()

X_train = scaler.fit_transform(X_train)

X_test = scaler.transform(X_test)

In [ ]:
X_train = pd.DataFrame(X_train, columns=[cols])

In [ ]:
X_test = pd.DataFrame(X_test, columns=[cols])

In [ ]:
X_train.head()

In [ ]:
from sklearn.naive_bayes import GaussianNB #Algoritma

gnb = GaussianNB()

gnb.fit(X_train, y_train)

In [ ]:
y_pred = gnb.predict(X_test)

y_pred

In [ ]:
y_pred_train = gnb.predict(X_train)

y_pred_train

In [ ]:
from sklearn.metrics import confusion_matrix #Sonuc

cm = confusion_matrix(y_test, y_pred)
TP = cm[0,0]
TN = cm[1,1]

TPR = TP / float(TP + FN)
TNR = TN / (TN + FP)
classification_accuracy = (TP + TN) / float(TP + TN + FP + FN)

print('Test sonucu:\n\n', cm)

print('Accuracy : {0:0.4f}'.format(classification_accuracy))
print('TP rate Rate : {0:0.4f}'.format(TPR))
print('TN rate : {0:0.4f}'.format(TNR))
print('TP = ', cm[0,0])
print('TN = ', cm[1,1])

In [ ]:
#Faydalandigim Kaynaklar
#https://www.kaggle.com/code/prashant111/naive-bayes-classifier-in-python#10.-Feature-Engineering-
#https://www.geeksforgeeks.org/